
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>heloo keshav!</h1>

    @Html.ActionLink("create", "Action", "Controller", null, new { @class = "page-scroll" });
    <a class="page-scroll" href="/Home/create">create</a>
    <div>

    </div>
</body>
</html>
